.annonces-map-wrapper {
	position: relative;

	#annonces-google-map {
		width: 100%;
		height: 500px;
		background: rgba(0,0,0,0.1);
	}
	.annonces-taxonomies {
		// position: absolute;
		// top: 50%;
		// right: 6em;
		.taxonomy-label {
			&.active {
				color :red;
			}
		}

	}
}
